@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.homeWrapper {
  background-image: url('../../image/van.webp');
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  background-color: grey;
  font-family: 'Roboto', sans-serif;
  padding: 16px;
  padding-top: 120px;
}

.homeContent {
  color: white;
  position: relative;
  z-index: 1;
  padding-top: 40px;
}

.homeAnotation {
  color: white;
  position: relative;
  z-index: 1;
  font-size: 16px;
}

.homeTitle {
  margin-bottom: 20px;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 53%,
    rgba(0, 0, 0, 0) 80%
  );
}

.tripButton {
  padding: 10px 30px;
  font-size: 34px;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1),
    0 2px 4px rgba(255, 255, 255, 0.06);
  align-items: center;
  background: #c0392b;
  border-radius: 200px;
  color: #fff;
  display: flex;

  gap: 10px;
  justify-content: center;
  letter-spacing: -0.08px;
  line-height: 1.5;
  margin-top: 220px;
  transition: scale 0.5s ease;
  transition: background-color 0.3s ease-in-out;
  margin-left: auto;
  margin-right: auto;
}

.tripButton:hover,
.tripButton:focus {
  animation: rubberBand 1s;
  background-color: #e44848;
}

@keyframes rubberBand {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.1, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@media only screen and (min-width: 768px) {
  .overlay {
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.45) 53%,
      rgba(0, 0, 0, 0) 80%
    );
  }
  .homeAnotation {
    font-size: 20px;
    max-width: 520px;
    margin-bottom: 40px;
  }

  .homeTitle {
    text-align: left;
  }

  .tripButton {
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (min-width: 1280px) {
  .homeWrapper {
    padding: initial;
  }

  .homeContent {
    margin-left: 20px;
    max-width: 800px;
    padding-top: 120px;
  }

  .homeTitle {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
  }
}
